<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="local.test.mybatis.StudentMapper">
    
    <resultMap id="studentMap" type="local.test.mybatis.Student">
        <id property="id" column="sid"/>
        <result property="name" column="sname"/>
        <association property="classes" javaType="local.test.mybatis.Classes">
            <id property="id" column="cid"/>
            <result property="name" column="cname"/>
        </association>
    </resultMap>
    <select id="findById" resultMap="studentMap" parameterType="int">
        select
            s.id sid, s.name sname, c.id cid, c.name cname
        from
            t_student s, t_classes c
        where
            s.cid = c.id and s.id = #{id}
    </select>
</mapper>
